  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
body{
    font-family:'DM Sans'
}
  .container{
    width: 1440px;
    height: 1988px;
    margin-left: 165px;
}
.nav {
    display: flex;
    justify-content: space-between;
    margin-left: 165px;
    margin-top: 28px;
    margin-bottom: 28px;
}
.nav p{
font-size: 15px;
font-weight: 700;
line-height: 15px;

}
button{
    background: #000;
    color: #fff;
    font-weight: 700;
    width: 158px;
    letter-spacing: 2px;
    font-size: 12px;
    margin-left: 262px;
}
.features{
    display: flex;
    width:1440px;
    margin-bottom: 160px;
    height: 490px;
}
.features .message{
    display: flex;
    flex-direction: column;
}
.features .message {
    background: #000;
    height: 490px;
    width: 610px;
}
.features .message h1{
    color: #fff;
    text-align: left;
    margin-left: 112px;
    margin-top: 150px;
    font-size: 40px;
    letter-spacing: 4.17px;
}
.features .message p{
    color: #fff;
    font-style: regular;
    font-size: 15px;
    line-height: 25px;
    vertical-align: top;
    width: 387px;
    height: 725px;
    margin-left: 112.2px;
    opacity: 60%;
}
.arrange{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}