  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
  body{
    font-family: 'DM Sans';
  }
  .container{
    width: 1440px;
    margin-left: -10px;
    height: 1988px;
    
}
.nav{
    display: flex;
    margin-top: 30px;

}
.tab {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;

}
.image{
    display: none;
}
.tab p{
    margin-left: 40px;
}
.button{
    margin-left: 170px;
    margin-top: 5px;
    margin-right: 20px;
    width: 158px;

    
}
button{
    background: #000;
    color: #fff;
    font-weight: 700;
    width: 158px;
    letter-spacing: 2px;
    font-size: 12px;
    height: 50px;
}
.image{
    margin-top: 10px;
    margin-left: 20px;
}
.features{
    display: flex;
    margin-top: 30px;
    width: 1440px;
    height: 470px;
}
.features .message{
    display: flex;
    flex-direction: column;
    background: #000;
    height: 480px;
    width: 610px;
    margin-top: -10px;
}
.features .message h1{
    color: #fff;
    margin-left: 112px;
    margin-top: 150px;
    font-size: 40px;
    letter-spacing: 4.17px;
}
.features .message p{
    color: #fff;
    font-style: normal;
    line-height: 25px;
    vertical-align: top;
    width: 387px;
    height: 725px;
    margin-left: 112.2px;
    opacity: 60%;
}
.arrange{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 160px;
    margin-left: 100px;
}

.arrange6{
    margin-top: 20px;
}
.arrange2{
    margin-top: -20px;
}
.arrange5{
margin-bottom: 30px;
}
.arrange4{
    margin-top: 10px;
}
.arrange5 h1{
margin-top: 10px;
}

.arrange5 p{
    margin-top: -10px;
}

.arrange1, .arrange2 .arrange3 .arrange4 .arrange5 .arrange6 h1{
    font-weight: 700;
    color: #000;
    font-size: 18px;
}

.arrange1, .arrange2 .arrange3, .arrange4, .arrange5 .arrange6 p{
    font-size: 15px;
    font-style: normal;
    line-height: 25px;
    font-weight: 500;
}

.arrange1 p{
    opacity:  60%;
}
.arrange2 p{
    opacity: 60%;
}
.arrange3 p{
    opacity: 60%;
}
.arrange4 p{
    opacity:  60%;
}
.arrange5 p{
    opacity: 60%;
}
.arrange6 p{
    opacity: 60%;
}
.nav2{
    margin-left: -20px;
    margin-top: 30px;
}

.best{
    background-image: url(../assets/shared/desktop/bg-beta.jpg);
    width: 1440px;
    background-size: cover;
}
.beta{
    display: flex;
    justify-content: space-between;
}
.beta h1{
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    width: 400px;
    height: 144px;
    text-transform: uppercase;
    line-height: 48px;
    letter-spacing: 4.17px;
    margin-left: 176px;
    margin-top: 78px;
}
.beta p{
    color: #fff;
    margin-top: 132px;
    margin-right: 223px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 15.62px;
}
.footer{
    background: #000;
    display: grid;
}
.footer .one{
    display: flex;
}
.footer .one h1{
    color: #fff;
}

.footer p{
    color: #fff;
}

.image{
 margin-left: 20px;   
}


.one img{
margin-top: 60px;
margin-left: 80px;
}
.one h1{
    padding: 10px;
}
.nav2{
margin-left: 450px;
color: #fff;
}
.nav2 p{
    font-size: 15px;
    font-style: bold;
}
footer .one img{
    color: #fff;

}


svg{
   padding: 2px;
}
.social-media{
   margin-left: 55px;
   margin-top: -16px;
   margin-bottom: 12px;
}
.invite{
   margin-left: 1005px;
   margin-bottom: 50px;
   margin-top: -200px;
}
.get{
   text-transform: uppercase;
   margin-bottom: 102px;
}
.footer1{
   text-transform: capitalize;
   opacity: 50%;
}

@media screen and (max-width: 375px){
    body{
        margin: 0;
        padding: 0;
        width: 75px;
    }
    .container{
        width: 375px;
        height: 33223px;
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    .tab{
        display: none;
    
    
    }
    .button{
        display: none;
    }
    .image{
        display: flex;
    }
    .features{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
        width: 375px;

    }
    .features img{
        width: 375px;
    
    }
    .features .message{
        width: 375px;

    }
    .features .message p{
        width: 318px;
        height: 100px;
        margin-left: 52px;
        margin-bottom: 72px;
    }
    .features .message h1 {
        margin-left: 52px;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    .arrange{
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        margin-top: 20px;
    }
    .arrange p{
        width: 315px;
        height: 75px;
        margin-top: 41px;
        opacity: 60%;
        line-height: 25px;
        font-size: 15px;
        vertical-align: top;
    }
    .arrange h1{
        line-height: 25px;
        width: 310px;
        height: 25px;
    }
    .arrange img{
        margin-left: 60px;
    }
    .arrange6 h1{
        line-height: 25px;
        width:410px;
        height: 25px;
    }
    
.footer{
    display: flex;
    flex-direction: column;
}
.beta{
    display: flex;
    flex-direction: column;
}
.beta h1 {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    width: 344px;
    height: 120px;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 3.33px;
    margin-left: 14px;
    margin-top: 78px;
    margin-bottom: -109px;
}
.beta p{
    margin-left: 20px;
    width: 168px;
}
.best{
    width: 375px;
}
.social-media{
    margin-top: -148px;
    margin-left: 85px;
}
.nav2{
margin-left: 97px;
color: #fff;
margin-bottom: -33px;
margin-top: 60px;
}
.invite{
    margin-left: 91px;
    margin-bottom: 50px;
    margin-top: 126px;
}
.footer1{
    margin-top: -50px;


}
.footer1 p{
    width: 300px;
    font-size: 15px;
    height: 20px;
    line-height: 20.2px;
    margin-left: -20px;
}
}