

:root{
  --pure-black:#000000;
  --light-gray:#dfdfdf;
  --pure-white:#ffffff;
  --small-text:"DM Sans", sans-serif;
  --small-paragraph:'DM Sans', sans-serif;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
 width: 100%;
}




header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  
}

.nav-container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

li, a, button {
  font-family: var(--small-text);
  font-weight: 500;
  font-size: 12px;
  color: var(--pure-black);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links {
  list-style: none;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--light-gray);
  cursor: pointer;
}

button {
  /* padding: 9px 25px; */
  background-color: var(--pure-black);
  width: 158px;
  height: 48px;
  border: none;
  transition: all 0.3s ease 0s;
  color: var(--pure-white);
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 2px;
} 


button:hover{
  background-color: var(--light-gray);
  color:var(--pure-black);
  cursor: pointer;
} 
.angry-grid {
  display: grid; 

   
 

  grid-template-areas: 
  'image-two image-two first-image first-image first-image first-image'
  'three three three three four four'
   'five five six six six six';
  
height: 100%;

  
}
 
#item-0 {
grid-area: first-image;
  background:url('./assets/home/desktop/create-and-share.jpg'); 
  height: 40rem;
   background-size: cover; 
  

}
#item-1 {
   grid-area: image-two;
  background-color:var(--pure-black);
   color:var(--pure-white); 
 
  background-size: cover;

}

#item-2 {
   grid-area: three;
   height: 40rem;
  background: url(./assets/home/desktop/beautiful-stories.jpg);
  background-size: cover;
  
 
  
}
#item-3 {
grid-area: four;
height: 40rem;
/* border: 1px solid black; */
  background-color: var(--pure-white); 

}

#item-4 {
   grid-area: five;
  background-color: var(--pure-white); 
  height: 40rem;

  
}
#item-5 {
  grid-area: six;
  background: url('./assets/home/desktop/designed-for-everyone.jpg');
  
  background-size: cover;
  height: 40rem; 
  
  
}

.item-1-heading h1{
  letter-spacing: 4.17px;;
  width: 387px;
  font-size: 40px;
  font-family: var(--small-text);
  text-transform: uppercase;
}
.item-1-content{
  display: flex;
  padding-top: 10rem;
  
}

.item-1-paragraph{
  font-family: var(--small-paragraph);
  font-size: 15px;
  line-height: 25px;
  color:var(--light-gray);
  width: 380px;
  padding-top: 1.313rem;
 
}
.item-1-last-section{
  display: flex;
  gap: 1.5rem;
  padding-top: 1.7rem;
}

.item-1-description{
 margin: 0 auto;
}

.item-1-small-span{
  text-transform: uppercase;
  font-size: 12px;
  font-family: var(--small-text);
  font-weight: 700;
}
.item-1-small-span:hover{
  text-decoration: underline;
  cursor: pointer;
}

.item3-content{
  display: table;
  margin: 0 auto;
  padding-top: 8.5rem;
}

.item3-content-heading h1{
  color: var(--pure-black);
  font-family: var(--small-text);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px; 
  width: 300px;
  letter-spacing: 4.17px;
}

.item3-content-paragraph{
  color:var(--light-gray);
  font-family: var(--small-paragraph);
  line-height: 25px;
  font-size: 15px;
  width: 380px;
  padding-top: 2rem;
}


.item3-last-section{
  display: flex;
  gap: 1.5rem;
  padding-top: 2rem;
 
}

.item3-last-section-span{
  font-family: var(--small-text);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.item3-last-section-span:hover{
  text-decoration: underline;
  cursor: pointer;
}  



.item4-content{
  display: table;
  margin: auto;
  padding-top:10rem;

  
}

.item4-content-heading h1{
  color: var(--pure-black);
  font-family: var(--small-text);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px; 
  width: 380px;
  letter-spacing: 4.17px;
}

.item4-content-paragraph{
  color:var(--light-gray);
  font-family: var(--small-paragraph);
  line-height: 25px;
  font-size: 15px;
  width: 380px;
  padding-top: 2rem;
}


.item4-last-section{
  display: flex;
  gap: 1.5rem;
  padding-top: 2rem;
 
}

.item4-last-section-span{
  font-family: var(--small-text);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.item4-last-section-span:hover{
  text-decoration: underline;
  cursor: pointer;
}

.image-grid{
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 
  
}

.cards{

  height: 510px;
 
}

.img1{
  background: url('./assets/stories/desktop/mountains.jpg');
  background-size: cover;
 
 }


 .img2{
 background: url('./assets/stories/desktop/cityscapes.jpg');
 background-size: cover;
 }

.img3{
  background: url('./assets/stories/desktop/18-days-voyage.jpg');
  background-size: cover;
  transition: transform 0.3s ease-in-out;
} 

.img3:hover{
  transform: translateY(-30px);
  cursor: pointer;
}

.img4{
  background: url('./assets/stories/desktop/architecturals.jpg');
  background-size: cover;
}

.img1-content-container{
  
 position: relative;
 left: 32px;
 right: 32px;
 width: 280px;
 top: 24rem;
}

.line hr{
  width:280px;
  height: 1px;
  opacity: 25%;
  background-color: var(--pure-white);
  margin-top: .6rem;
  
}
.img1-content p{
  font-family: var(--small-paragraph);
  color: var(--pure-white);
  font-size:22px;
  font-weight: 600;
 
}

.img1-content p{
margin-bottom: .4rem;
}
.img1-content span{
  font-family: var(--small-paragraph);
  color:var(--pure-white);
  font-size: 16px;
  font-weight: 400;
 
   
}

.read-story-content{
  display: flex;
  gap: 1rem;
  margin-top: .7rem;
  
}


.read-story-content-arrow svg{
  margin-left: 8.7rem;
  margin-top: 0.2rem;
}

.read-story-content-span span{
  font-family: var(--small-text);
  color: var(--pure-white);
  font-size: 16px;
  font-weight: 600;
 

}

.img2-content-container1{
  
  position: relative;
  left: 32px;
  right: 32px;
  width: 280px;
  top: 24rem;
 }
 
 .line1 hr{
   width:280px;
   height: 1px;
   opacity: 25%;
   background-color: var(--pure-white);
   margin-top: .6rem;
   
 }
 .img2-content1 p{
   font-family: var(--small-paragraph);
   color: var(--pure-white);
   font-size:22px;
   font-weight: 600;
  
 }
 
 .img2-content1 p{
 margin-bottom: .4rem;
 }
 .img2-content1 span{
   font-family: var(--small-paragraph);
   color:var(--pure-white);
   font-size: 16px;
   font-weight: 400;
  
    
 }
 
 .read-story-content1{
   display: flex;
   gap: 1rem;
   margin-top: .7rem;
   
 }
 
 
 .read-story-content-arrow1 svg{
   margin-left: 8.7rem;
   margin-top: 0.2rem;
 }
 
 .read-story-content-span1 span{
   font-family: var(--small-text);
   color: var(--pure-white);
   font-size: 16px;
   font-weight: 600;
  
 
 }



 .img3-content-container2{
  
  position: relative;
  left: 32px;
  right: 32px;
  width: 280px;
  top: 24rem;
 }
 
 .line2 hr{
   width:280px;
   height: 1px;
   opacity: 25%;
   background-color: var(--pure-white);
   margin-top: .6rem;
   
 }
 .img3-content2 p{
   font-family: var(--small-paragraph);
   color: var(--pure-white);
   font-size:22px;
   font-weight: 600;
  
 }
 
 .img3-content2 p{
 margin-bottom: .4rem;
 }
 .img3-content2 span{
   font-family: var(--small-paragraph);
   color:var(--pure-white);
   font-size: 16px;
   font-weight: 400;
  
    
 }
 
 .read-story-content2{
   display: flex;
   gap: 1rem;
   margin-top: .7rem;
   
 }
 
 
 .read-story-content-arrow2 svg{
   margin-left: 8.7rem;
   margin-top: 0.2rem;
 }
 
 .read-story-content-span2 span{
   font-family: var(--small-text);
   color: var(--pure-white);
   font-size: 16px;
   font-weight: 600;
  
 
 }  


 .img4-content-container3{
  
  position: relative;
  left: 32px;
  right: 32px;
  width: 280px;
  top: 24rem;
 }
 
 .line3 hr{
   width:280px;
   height: 1px;
   opacity: 25%;
   background-color: var(--pure-white);
   margin-top: .6rem;
   
 }
 .img4-content3 p{
   font-family: var(--small-paragraph);
   color: var(--pure-white);
   font-size:22px;
   font-weight: 600;
  
 }
 
 .img4-content3 p{
 margin-bottom: .4rem;
 }
 .img4-content3 span{
   font-family: var(--small-paragraph);
   color:var(--pure-white);
   font-size: 16px;
   font-weight: 400;
  
    
 }
 
 .read-story-content3{
   display: flex;
   gap: 1rem;
   margin-top: .7rem;
   
 }
 
 
 .read-story-content-arrow3 svg{
   margin-left: 8.7rem;
   margin-top: 0.2rem;
 }
 
 .read-story-content-span3 span{
   font-family: var(--small-text);
   color: var(--pure-white);
   font-size: 16px;
   font-weight: 600;
  
 
 }

 .mid-section-content{
   display: flex; 
   justify-content: space-around;
   align-items: center;
 
 }

.mid-section-content-center{
 
  
}
.mid-section-content-left{

}
 .mid-section-content-paragraph-left p{
  width: 380px;
 }


 .mid-section-content-paragraph-center p{
  width: 380px;
  font-size: 15px;
 } 


 .mid-section-content-span-center p{
  width: 380px;
 }

@media only screen and (max-width: 768px) {
  body{
    width: 768px;
    background-color: red;

  }
  

 
  
  
 
}